<% unless carted_product.user_id = current.user.id %>
  <h1>  Checkout page </h1>
    <div class="row">
      <% @carted_products.each do |carted_product| %>
        <div class="col-md-4">
          <div class="thumbnail">            
            <h4> Game ID: <%= carted_product.game.title %> - Quantity: <%= carted_product.quantity %> </h4>
          </div>
        </div>
      <% end %>


      <div>
        <%= link_to "BUY NOW!", "/orders", method: :post %>
      </div>
    </div>
<% end %>