/// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: "Comic Sans MS", cursive, sans-serif;
  color: #D5D5D5;
  background-color: #96858F;
}

h1 {
  color: #062F4F;
  
}

div.thumbnail {
  background-color: #76323F;
}
div.games_info{
  color: #D5D5D5;
  background-color: #76323F;
  padding: 20px;
}
div.newgame_form {
  color: #D5D5D5;
  background-color: #76323F;
  padding: 20px;
}
div.games_info h4{
  color: LightCoral;
}
div.games_bottomNav {
  color: black;
  background-color: #062F4F;
  margin: 20px;
}
